<div class="reg-referrer">
  <div class="reg-referrer-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="weui-cell" [ngStyle]="{'margin-top':'45px'}">
    <div class="weui-cell__hd"><label class="weui-label"  style="color: #353535">姓名</label></div>
    <div class="weui-cell__bd" #user>
      <input class="weui-input"   type="text" [(ngModel)]="referrerData.userName" placeholder="请输入姓名" weui-required>
    </div>
  </div>
  <div class="weui-cell weui-cell_vcode">
    <div class="weui-cell__hd">
      <label class="weui-label"  style="color: #353535">手机号</label>
    </div>
    <div class="weui-cell__bd">
      <input class="weui-input" [(ngModel)]="referrerData.mobilePhone"  [maxlength]="11" name="tel" placeholder="请输入手机号"
             weui-input="tel" weui-required>
    </div>
    <div class="weui-cell__ft">
      <button class="weui-vcode-btn"
              [weui-vcode]="onSendCode"
              weui-seconds="60"
              weui-tpl="${num}s"
              weui-error="重新发送">获取验证码</button>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label" style="color: #353535">验证码</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input"  [(ngModel)]="verificationCode" name="password" placeholder="请输入验证码"
             weui-input="idcard" weui-required>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label" style="color: #353535">设置密码</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="password" [(ngModel)]="referrerData.password" name="password" placeholder="请输入密码"
             weui-required>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"  style="color: #353535">确认密码</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="password" [(ngModel)]="surePsw" name="surepassword" placeholder="请确认密码"
             weui-input="qq" weui-required>
    </div>
  </div>
  <div class="weui-cell"></div>


  <!--<div class="reg-referrer-scan">-->
    <!--<weui-actionsheet #iosActionSheet [menus]="actionSheetMenus" [config]="configActionSheet"></weui-actionsheet>-->
  <!--</div>-->
  <!--&lt;!&ndash;camera&ndash;&gt;-->
  <!--<div class="reg-referrer-camera">-->
    <!--<input #photo type="file" accept="image/*" style="display: none" (change)="referrerUpImg($event)">-->
  <!--</div>-->
  <footer class="reg-referrer-footer">
    <button  class="weui-btn weui-btn_primary" (click)="bindingClick()">下一步</button>
  </footer>
  <!--<div class="reg-referrer-dialog">-->
    <!--<weui-dialog #iosDialog [config]="configDialog"></weui-dialog>-->
  <!--</div>-->
  <app-loading *ngIf="loading_show"></app-loading>
  <weui-toptips #toptips></weui-toptips>
</div>


