<div class="pay-detail">
  <app-header [option]="headerOption"></app-header>
 <div class="pay-detail-content" *ngIf="basicData[basicData.length-1].value !== ''">
   <div class="weui-cells" style="margin-top: 2px; font-size: 0.9rem">
     <div class="weui-cell weui-cell_access" *ngFor="let item of basicData">
       <div class="weui-cell__bd">
         <p>{{item.label}}</p>
       </div>
       <div class="weui-cell__left" >{{item.value}} <span *ngIf="item.label ==='面积'">平米</span></div>
     </div>
   </div>
   <weui-ptr (refresh)="onRefresh($event)"  style="height: 50vh;background: #ECECEC;margin-top: 2px">
   <div class="weui-cells" style="margin-top: 0;font-size: 0.9rem">
     <a class="weui-cell weui-cell_access" *ngFor="let item of paydetail">
       <div class="weui-cell__bd" (click)="paydetailUserClick(item)">
         <p *ngFor="let i of item.data" style="margin-top: 1vh"><span>{{i.label}}：</span><span>{{i.value}}</span></p>
       </div>
       <div class="weui-cell__left" style="color: red;font-size: 1.5rem">-￥{{item.payValue}}</div>
     </a>
   </div>
   </weui-ptr>
 </div>
</div>
