<div class="chargepay-roomInfo">
  <app-header [option]="headerOption" (headerRightClick)="chargepaylistClick($event)"></app-header>
  <!--<div class="weui-cell weui-cell_access" style="margin-top: 2px"></div>-->
  <div class="chargepay-roomInfo-basic" *ngIf="basicData[basicData.length-1].value !==''">
    <div class="weui-cells" style="margin-top: 2px; font-size: 0.9rem">
      <div class="weui-cell weui-cell_access" *ngFor="let item of basicData">
        <div class="weui-cell__bd">
          <p>{{item.label}}</p>
        </div>
        <div class="weui-cell__left" >{{item.value}} <span *ngIf="item.value !== '' && item.label === '面积'">平米</span></div>
      </div>
    </div>
    <!--<div class="weui-flex" *ngFor=" let i of basicData">-->
      <!--<div class="weui-flex__item" *ngFor="let item of i.item" style="margin-left: 5vw;margin-bottom: 1vh;margin-top: 1vh">-->
        <!--<div class="placeholder">-->
          <!--<span>{{item.label}}：</span>-->
          <!--<span>{{item.value}}</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <a class="weui-cell weui-cell_access"  style="padding: 1.8vh" (click)="ownerClick()">
      <div class="weui-cell__bd">
        <p>业主信息</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <div class="weui-cells" style="margin-top: 0;font-size: 0.9rem;">
      <a class="weui-cell weui-cell_access" style="padding: 1.8vh" (click)="deputeyClick()">
        <div class="weui-cell__bd">
          <p>副业主信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
      <a class="weui-cell weui-cell_access"  style="padding: 1.8vh" (click)="tenantClick()">
        <div class="weui-cell__bd">
          <p>租客信息</p>
        </div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>
  </div>
</div>
