<div class="chargepay-roomInfo">
  <app-header [option]="headerOption"></app-header>
  <div class="weui-flex">
    <div class="weui-flex__item">
      <div class="placeholder">
        项目名
       </div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">
         未来城一期
       </div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">
        未来城一期
      </div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">
        未来城一期
      </div>
    </div>
  </div>
</div>
