<div class="chargepay-coupon">
  <app-header [option]="headerOption" (headerLeftClick)="leftBackClick()"></app-header>
  <div class="chargepay-coupon-content">
    <!--不使用优惠卷-->
    <div class="chargepay-coupon-content-title" (click)="noUserCouponClick($event)">
      <span >不使用优惠券</span>
      <i class="icon iconfont icon-chenggong" style="float: right;margin-right: 4vw" [ngStyle]="{'color': color}"></i>
    </div>
    <div class="chargepay-coupon-content-body" *ngFor="let item of couponList;let i = index"  (click)="UserCouponClick(i)">
      <!--<div class="fex"></div>-->
      <div class="chargepay-coupon-content-body-left">
        <span >{{item.label}}</span>
        <!--<div style="width: 2vw;height: 2vw;background: #ECECEC;border-radius: 50%;color: #ECECEC;margin-top:1vh">12</div>-->
      </div>
      <div class="chargepay-coupon-content-body-right" >
        <!--<ul>-->
          <!--<li style="color: #EA760F;font-size: 0.8rem;font-weight: bold">总金额：{{item.content}}元     余额：{{item.Amoney}}元</li>-->
          <!--&lt;!&ndash;<li style="color: #EA760F;font-size: 0.8rem;font-weight: bold"></li>&ndash;&gt;-->
          <!--<li style="font-size: 0.5rem;color: #C9C4C4;">{{item.endTime}}</li>-->
          <!--<li  style="font-size: 0.5rem;color: #C9C4C4">{{item.company}}</li>-->
        <!--</ul>-->
         <span style="margin-left: 4vw">总金额：{{item.content}}元  </span>
        <span style="margin-left: 2vw;display: inline-block">余额：{{item.Amoney}}元</span>
        <!--<div class="chargepay-coupon-content-body-right-Money">-->
           <!--余额：{{item.Amoney}}元-->
         <!--</div>-->
          <i class="icon iconfont icon-chenggong" style="float: right;margin-right: 4vw;margin-top: 6vh" [ngStyle]="{'color': item.color}"></i>
        <div style="font-size: 0.5rem;color: #C9C4C4;height: 3vh"> {{item.endTime}}</div>
        <div style="font-size: 0.5rem;color: #C9C4C4;height: 3vh"> {{item.company}}</div>
      </div>
    </div>
  </div>
</div>
