<div class="chargepay-user-info">
  <app-header [option]="headerOption"></app-header>
   <div class="chargepay-user-info-content">
     <div class="weui-cells" style="margin-top: 2px; font-size: 0.9rem">
       <div class="weui-cell weui-cell_access" *ngFor="let item of basicData">
         <div class="weui-cell__bd">
           <p>{{item.label}}</p>
         </div>
         <div class="weui-cell__left" >{{item.value}}</div>
       </div>
     </div>
     <div class="weui-cells" style="margin-top: 0;font-size: 0.9rem">
       <a class="weui-cell weui-cell_access" *ngFor="let item of userinfodetail">
         <div class="weui-cell__bd" >
           <p *ngFor="let i of item.data" style="margin-top: 1vh"><span>{{i.label}}：</span><span>{{i.value}}</span></p>
         </div>
         <div class="weui-cell__left" style="color: red;font-size: 1.5rem">-￥{{item.payValue}}</div>
       </a>
     </div>
   </div>
</div>
