<div class="tab-mine">

  <!--<app-header [option]="headerOption"></app-header>-->
  <div class="tab-mine-header" [ngStyle]="{'margin-top':'1px'}" *ngIf="mobilePhone != undefined">
      <div class="tab-mine-header-content">
        <img  class="tab-minen-header-imageTitle" [src]="imageUrl" alt="">
        <div style="font-size: 0.9rem">{{userName}}</div>
        <div>
          <i class="fa fa-mobile" style="font-size: 1rem;margin-right: 1vw"></i>
          <span>{{mobilePhone}}</span>
        </div>
      </div>
    </div>
  <div class="tab-mine-content" *ngIf="mobilePhone != undefined">
    <div class="tab-mine-content-line" *ngFor="let item of owerItemList">
      <div class="weui-cell weui-cell_access"  (click)="owerItemClick(item)" *ngIf="item.hide">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle;font-size: 1rem">{{item.label}}</span>
        </div>
        <!--<div class="weui-cell__ft"></div>-->
        <div class="weui-cell__ft" style="font-size: 0.8rem">{{item.note}}</div>
      </div>
    </div>
  </div>
</div>
