<div class="mine-tenant-modify">
  <app-header [option]="headerOption" (headerLeftClick)="backHome()"></app-header>
  <!--<div class="jasmine-d"></div>-->
  <div class="mine-tenant-modify-content">
    <!--副业主信息-->
    <div class="weui-cell" style="padding: 0;"></div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="name" class="weui-label" style="color: #000">姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input id="name" disabled class="weui-input" [(ngModel)]="modefyTenant.realName" value="" placeholder="请输入姓名"
               weui-input="newpsw" weui-required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="newpsw" class="weui-label" style="color: #000">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input id="newpsw" class="weui-input" [(ngModel)]="modefyTenant.mobilePhone" value="" placeholder="请输入手机号"  (blur)="inputNumberFocus()"
               weui-input="newpsw" weui-required>
      </div>
      <div class="weui-cell__ft" [hidden]="!hiddenWarn">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="idnumber" class="weui-label" style="color: #000">身份证号</label>
      </div>
      <div class="weui-cell__bd">
        <input id="idnumber" disabled class="weui-input" [(ngModel)]="modefyTenant.idNumber"  value="" placeholder="请输入身份证号"  >
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label  class="weui-label" style="color: #000">性别</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select"  [(ngModel)]="modefyTenant.sex" name="sex">
          <option value="男">男</option>
          <option value="女">女</option>
        </select>
      </div>
    </div>

    <!--<div class="weui-cell" style="padding: 0"></div>-->
    <!--添加房屋按钮-->
    <div class="weui-cell" (click)="houseSelectClick()">
      <div class="weui-cell__hd"><img src="assets/images/ic_bind.png" style="width: 30px;"></div>
      <div class="weui-cell__bd">
        <p style="color: #5791AA">绑定房屋</p>
      </div>
      <div class="weui-cell__ft">
        <img src="assets/images/ic_right.png" alt="" style="width: 15px">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
<!--        <button weui-button class="weui-btn-succes" style="height: 4vh;font-size: 0.8rem;line-height: 4vh" >绑定房屋</button>-->
      </div>
    </div>


    <div  style="margin-left: 3vw" *ngFor="let item of houseSelectData;let i = index">
      <div class="weui-cell">
        <div class="weui-cell__hd"> <span>房间号：</span></div>
        <div class="weui-cell__bd"> <span>{{item.roomCode}}</span></div>
        <button weui-button  [weui-type]="'warn'" style="height: 4vh;width: 20vw;font-size: 0.6rem;line-height: 4vh" (click)="houseDelectClick(item, i)">删除</button>
      </div>
      <div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label  class="weui-label" style="width: 40vw">租赁开始日期：</label></div>
          <div class="weui-cell__bd">
            <weui-date-picker [placeholder]="houseSelectData[i].startTime" name="date" [(ngModel)]="houseSelectData[i].startTime"></weui-date-picker>
          </div>
        </div>
      </div>
      <div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label  class="weui-label" style="width: 40vw">租赁截止日期：</label></div>
          <div class="weui-cell__bd">
            <weui-date-picker [placeholder]="houseSelectData[i].endTime" name="date" [(ngModel)]="houseSelectData[i].endTime"></weui-date-picker>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
  <div class="min-deputy-add-footer">
    <div class="weui-cell">
      <button weui-button class="weui-btn" style="background: linear-gradient(to right,#84C5F8,#367C99);font-size: 1rem;border-radius: 20px" (click)="mineTenantModifySureClick()">下一步</button>
    </div>
  </div>
  <weui-dialog #auto [config]="config"></weui-dialog>

  <weui-toptips #toptips></weui-toptips>
</div>
