<div class="mine-tenant-add">
  <app-header [option]="headerOption"></app-header>
  <div class="mine-tenant-add-content">
    <!--副业主信息-->
    <div class="weui-cell" style="padding: 0;margin-top: 2px;"></div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="name" class="weui-label" style="color: #000">姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input id="name" class="weui-input" [(ngModel)]="addTenant.userName" value="" placeholder="请输入姓名"
               weui-input="newpsw" weui-required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label  class="weui-label" style="color: #000">性别</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" name="select" [(ngModel)]="addTenant.sex" name="sex">
          <option value="1">请选择性别</option>
          <option value="男">男</option>
          <option value="女">女</option>
        </select>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="newpsw" class="weui-label" style="color: #000">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input id="newpsw" class="weui-input" [(ngModel)]="addTenant.userPhone" value="" placeholder="请输入手机号"
               weui-input="newpsw" weui-required>
      </div>
    </div>
    <!--<div class="weui-cell" style="padding: 0"></div>-->
    <!--添加房屋按钮-->
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <button weui-button class="weui-btn-succes" style="height: 4vh;font-size: 0.8rem;line-height: 4vh" (click)="houseSelectClick()">绑定房屋</button>
      </div>
    </div>
    <!--// 选择的房间-->
    <div  style="margin-left: 3vw" *ngFor="let item of addTenant.roomCodes;let i = index">
      <div class="weui-cell">
        <div class="weui-cell__hd"> <span>房间号：</span></div>
        <div class="weui-cell__bd"> <span>{{item.roomCode}}</span></div>
      </div>
      <div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label  class="weui-label" style="width: 30vw">租赁开始日期</label></div>
          <div class="weui-cell__bd">
            <weui-date-picker placeholder="请选租赁开始日期" name="date" [(ngModel)]="addTenant.roomCodes[i].startDate"></weui-date-picker>
          </div>
        </div>
      </div>
      <div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label  class="weui-label" style="width: 30vw">租赁截止日期</label></div>
          <div class="weui-cell__bd">
            <weui-date-picker placeholder="请选租赁截止日期"  name="date" [(ngModel)]="addTenant.roomCodes[i].endDate"></weui-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-cell" style="padding: 0;"></div>
    <!--<div class="mine-tenant-add-content-dialog">-->
      <!--<span>请选择租赁开始日期</span>-->
      <!--<div class="weui-cell">-->
        <!--<div class="weui-cell__hd"><label  class="weui-label">日期</label></div>-->
        <!--<div class="weui-cell__bd">-->
          <!--<input class="weui-input" [(ngModel)]="res.date" name="date" type="date" value="">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
  <div class="mine-tenant-add-footer">
    <div class="weui-cell">
      <button weui-button class="weui-btn" style="background: #1C86D6;font-size: 1rem;" (click)="mineTenantAddSureClick()">提交</button>
    </div>
  </div>
  <weui-dialog #auto [config]="config"></weui-dialog>
  <weui-toptips #toptips></weui-toptips>
  <app-loading [hidden]="loadHidden"></app-loading>

</div>
