<div class="min-deputy-add">
  <app-header [option]="headerOption" (headerLeftClick)="backHome()"></app-header>
  <div class="min-deputy-add-content">
    <!--副业主信息-->
    <div class="weui-cell" style="padding: 0;margin-top: 2px;"></div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="name" class="weui-label" style="color: #000">姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input id="name" class="weui-input" [(ngModel)]="duputyData.realName" value="" placeholder="请输入姓名"
               weui-input="newpsw" weui-required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="newpsw" class="weui-label" style="color: #000">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input id="newpsw" class="weui-input" [(ngModel)]="duputyData.mobilePhone" [maxLength]="11" value="" placeholder="请输入手机号" (blur)="inputNumberFocus()" >
      </div>
      <div class="weui-cell__ft" [hidden]="!hiddenWarn">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label  class="weui-label" style="color: #000">性别</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select"  [(ngModel)]="duputyData.sex" name="sex">
          <option value="男">男</option>
          <option value="女">女</option>
        </select>
      </div>
    </div>
<!--    <div class="weui-cell weui-cell_vcode">-->
<!--      <div class="weui-cell__hd">-->
<!--        <label class="weui-label"  style="color: #353535">验证码</label>-->
<!--      </div>-->
<!--      <div class="weui-cell__bd">-->
<!--        <input class="weui-input" [(ngModel)]="duputyData.verificationCode"  [maxlength]="11" name="tel" placeholder="请输入验证码"-->
<!--               weui-input="tel" weui-required>-->
<!--      </div>-->
<!--      <div class="weui-cell__ft">-->
<!--        <button class="weui-vcode-btn" (click)="getPhoneCode()">{{showData}}</button>-->
<!--      </div>-->
<!--    </div>-->
    <!--<div class="weui-cell" style="padding: 0"></div>-->
    <!--添加房屋按钮-->
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <button weui-button class="weui-btn-succes" style="height: 4vh;font-size: 0.8rem;line-height: 4vh" (click)="houseSelectClick()">绑定房屋</button>
      </div>
    </div>
    <!--// 选择的房间-->
    <div class="weui-cell weui-cell__access" *ngFor="let item of houseSelectData;let i = index">
      <div class="weui-cell__hd">
        <span>房间号：</span>
      </div>
      <div class="weui-cell__hd">
        <span>{{item.text}}</span>
      </div>
    </div>
    <div class="weui-cell" style="padding: 0;"></div>
  </div>
  <div class="min-deputy-add-footer">
    <div class="weui-cell">
        <button weui-button class="weui-btn" style="background: #1C86D6;font-size: 1rem;" (click)="mineDeputyAddSureClick()">下一步</button>
    </div>
  </div>
  <weui-dialog #auto [config]="config"></weui-dialog>
  <app-loading [hidden]="loadHidden"></app-loading>

</div>
