<div class="mine-change-password">
  <app-header [option]="headerOption"></app-header>
  <div class="mine-change-password-content">
      <div class="weui-cells" style="font-size: 1rem;">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label for="oldpsw" class="weui-label" style="color: #000">原密码</label></div>
          <div class="weui-cell__bd">
            <input id="oldpsw" class="weui-input"  type="password" [(ngModel)]="pswData.oldpsw"  placeholder="请输入原密码"
                   weui-input="oldpsw" weui-required>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label for="newpsw" class="weui-label" style="color: #000">新密码</label></div>
          <div class="weui-cell__bd">
            <input id="newpsw" class="weui-input" type="password" [(ngModel)]="pswData.newpsw" value="" placeholder="请输入新密码"
                   weui-input="newpsw" weui-required>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label for="suerpsw" class="weui-label" style="color: #000">确认密码</label></div>
          <div class="weui-cell__bd">
            <input id="suerpsw" class="weui-input" type="password" [(ngModel)]="pswData.surepsw"  value="" placeholder="请再次确认密码"
                   weui-input="surepsw" weui-required>
          </div>
        </div>
      </div>
    <!--<div class="weui-cell">-->
    <!--<div class="weui-cell">-->
      <button weui-button class="weui-btn" style="background: #1C86D6;font-size: 1rem;margin-top: 1vh" (click)="mineChangePswSureClick()">提交</button>
    <!--</div>-->
      <!--<button weui-button style="margin-top: 1vh;font-size: 1rem">提交</button>-->
    <!--</div>-->
   </div>
</div>
