<div class="mine-deputy-change-info">
  <app-header [option]="headerOption"></app-header>
  <!--<div class="jasmine-d"></div>-->
  <div class="mine-deputy-change-info-content">
    <div class="weui-cell" style="padding: 0;margin-top: 10px;"></div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="name" class="weui-label" style="color: #000">姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input id="name" class="weui-input" [(ngModel)]="duputyData.name" value="" placeholder="请输入姓名"
               weui-input="newpsw" weui-required>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label  class="weui-label" style="color: #000">性别</label>
      </div>
      <div class="weui-cell__bd">
          <select class="weui-select"  [(ngModel)]="duputyData.sex" name="sex">
            <option value="男">男</option>
            <option value="女">女</option>
          </select>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="newpsw" class="weui-label" style="color: #000">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input id="newpsw" class="weui-input" [(ngModel)]="duputyData.phone" value="" placeholder="请输入手机号"
               weui-input="newpsw" weui-required>
      </div>
    </div>
    <div class="weui-cell" style="padding: 0"></div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <button weui-button class="weui-btn-succes" style="height: 4vh;font-size: 0.8rem;line-height: 4vh">绑定房屋</button>
      </div>
    </div>
  </div>
</div>
