.mine-personal-info {
  width: 100vw;
  height: 100vh;
  background: #ECECEC;
  font-size: 1rem;
  .mine-personal-info-content{
    margin-top: 2px;
    ::ng-deep .weui-cell:before {
      left: 0;
    }

  }
  .mine-personal-info-popup{
    ::ng-deep .weui-popup__hd {
      display: none;
    }
  }
  .mine-personal-info-toast{
    .weui-toast {
      height: 4vh;
      line-height: 4vh;
      font-size: 0.85rem;
      width: unset;
      min-height: 0;
      min-width: 12.6em;
      transform: translateX(-50%);
      border-radius: 4px;
      padding: 0 10px;
      top: 90%;
      margin-left: 0;
      .weui-icon_toast{
        margin: 0;
      }
    }
  }
}
