<div class="mine-personal-info">
  <app-header [option]="headerOption"></app-header>
  <div class="mine-personal-info-content">
    <div class="weui-cells" style="margin-top: 0;font-size: 0.9rem">
      <div class="weui-cell weui-cell_access" *ngFor="let item of persionitem.slice(0,1)"   (click)="minePersionSelectImageClick()">
        <div class="weui-cell__bd">
          <span>{{item.label}}</span>
        </div>
        <div class="weui-cell__ft">
          <img [src]="item.value" alt="" style="width: auto;height: 45px;display: block;border-radius: 50%">
        </div>
      </div>
      <div class="weui-cell weui-cell_access" *ngFor="let item of persionitem.slice(1,persionitem.length)"  (click)="minePersionChangeInfoClick(item)">
        <div class="weui-cell__bd">
          <span>{{item.label}}</span>
        </div>
        <div class="weui-cell__ft" *ngIf="item.label === '手机号' || item.label === '用户名'">
          <span style="color: #000">{{item.value}}</span>
        </div>
        <div class="weui-cell__left"  *ngIf="item.label != '手机号' && item.label !== '用户名'">
          <span>{{item.value}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mine-personal-info-popup">
    <weui-popup #photo>
      <div class="weui-cells" style="margin: 0">
        <div class="weui-cell weui-cell_access" *ngFor="let item of getphontoType " >
          <div class="weui-cell__bd" style="text-align: center" (click)="getphontoTypeClick(item.value)">
            <input type="file" class="weui-uploader__input"  accept="image/*">{{item.label}}
          </div>
        </div>
      </div>
      <div class="weui-cells">
        <div class="weui-cell weui-cell_access" (click)="cancelSelectionClick()">
          <div class="weui-cell__bd" style="text-align: center">
            <span>取消</span>
          </div>
        </div>
      </div>
    </weui-popup>

  </div>
  <div class="mine-personal-info-toast">
    <weui-toast #success [text]="updateSexMsg" [icon]="''" [time]="1000"></weui-toast>
  </div>
</div>
