<div class="mine-ower-pay-info">
  <app-header [option]="headerOption"></app-header>
  <div class="mine-ower-pay-info-content">
    <weui-ptr (refresh)="onRefresh($event)"  style="height: 90vh; background: #ECECEC;margin-top: 2px">
    <div class="weui-cells" style="margin-top: 0;font-size: 0.9rem">
      <a class="weui-cell weui-cell_access" *ngFor="let item of owerPayInfo">
        <div class="weui-cell__bd" >
          <p *ngFor="let i of item.data" style="margin-top: 1vh"><span>{{i.label}}：</span><span>{{i.value}}</span></p>
        </div>
        <div class="weui-cell__left" style="color: red;font-size: 1.5rem">-￥{{item.payValue}}</div>
      </a>
    </div>
    </weui-ptr>
  </div>
</div>
