.mine-tenant-info {
  width: 100vw;
  height: 100vh;
  //text-align: center;

  background: #ECECEC;
  .mine-tenant-info-content{
    .mine-tenant-info-item {
      border-radius: 10px;
      background: #FFFFFF;
      //background: linear-gradient(135deg,#F6BF2E,#FF5023);
      width: 100vw;
      margin-bottom: 0.5vh;
      margin-top: 1vh;
      font-size: 1rem;
      //padding: 1vw;
      .mine-tenant-info-text {
        margin-left: 3vw;
      }

      .mine-tenant-info-btn {
        button {
          margin-left: 2vw;
          margin-top: 1vh;
          //margin-right: 2vw;
        }
      }
    }
  }
  .mine-tenant-info-footer {
    height: 6vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    background: #fff;
    //line-height: 4vh;
    //text-align: center;
    //.mine-tenant-info-footer-btn {
    //  width: 60vw;
    //  background: #09BB07;
    //  height: 6vh;
    //  border-radius: 10px;
    //  margin: 0;
    //  text-align: center;
    //  line-height: 6vh;
    //  color: #fff;
    //}
  }
}
