.tab-home{
  height: 100%;

  .tab-home-item{
    border-radius: 10px;
    background: #FFFFFF;
    //background: linear-gradient(135deg,#F6BF2E,#FF5023);
    width: 100vw;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    font-size: 1rem;
    //padding: 1vw;
    img{
      width: 100vw;
      height: 12vh;
      border-radius: 5px;
    }
    .tab-home-item-text{
      margin-left: 3vw;
    }
    .tab-home-item-btn {
      button {
        margin-left: 2vw;
        margin-top: 1vh;
        //margin-right: 2vw;
      }
    }
  }
}
