<div class="tab-home">
  <!--<app-header [option]="headerOption"></app-header>-->
<!--  <weui-ptr (refresh)="onRefresh($event)"  style="height: 85vh; background: #ECECEC;margin-top: 2px">-->
    <div class="weui-flex" *ngFor="let item of HouseItem">
      <div class="weui-flex__item" (click)="typeClick(item)">
        <div class="placeholder">
          <div class="tab-home-item">
            <img [src]="item.imgUrl" alt="">
            <span class="tab-home-title">
              {{item.title}} <span style="font-size: 1.2rem;">入口</span>
            </span>
          </div>
        </div>
      </div>
    </div>
<!--  </weui-ptr>-->
</div>
